workflows-final/TINY <> FLASH NOVO.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "PEDIDOS.OBTER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "PEDIDOS.PESQUISA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "ENVIA FLASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEDIDOS.OBTER": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEDIDOS.PESQUISA": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA WPP": {
      "main": [
        [
          {
            "node": "FACILITA - 5seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA FLASH": {
      "main": [
        [
          {
            "node": "ENVIA WPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FACILITA - 5seg": {
      "main": [
        [
          {
            "node": "ATUALIZA RASTREIO NA YAMPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTURA HORA": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA RASTREIO NA YAMPI": {
      "main": [
        [
          {
            "node": "CAPTURA HORA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-21T01:44:36.494Z",
  "id": "36",
  "name": "TINY <> FLASH NOVO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiny",
        "options": {}
      },
      "id": "dd96145f-d3ae-4a24-8657-bf0ef14f3653",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -20,
        920
      ],
      "webhookId": "13090537-2d6c-4aa1-a0a0-a289bcaf00d6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"body\"][\"formaEnvio\"][\"descricao\"] }}",
              "value2": "FLASH"
            }
          ]
        }
      },
      "id": "b2526528-8cc9-452c-a950-e1af6d69842d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4f8465db-1062-4a66-8b8d-7c4811bd87bb",
      "name": "XML1",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1220,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Webhook\"].json[\"body\"][\"tipo\"] }}",
              "value2": "atualizacao_pedido"
            }
          ]
        }
      },
      "id": "17d9bccb-1e5d-450d-9d51-d449b6aad4b5",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        900
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f72a35be-8922-4978-a315-f16689047c79",
      "name": "XML2",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1740,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.tiny.com.br/api2/pedido.obter.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "497ea1c57672a427d51c18e147a95105105baa2c"
            },
            {
              "name": "id",
              "value": "={{ $node[\"XML1\"].json[\"retorno\"][\"pedidos\"][\"pedido\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2abd3ef-5caa-4b73-a576-24c3acd568d1",
      "name": "PEDIDOS.OBTER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1480,
        880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.tiny.com.br/api2/pedidos.pesquisa.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "497ea1c57672a427d51c18e147a95105105baa2c"
            },
            {
              "name": "numero",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b9ca1b4-3b5f-4ced-88da-22d9b8df40fc",
      "name": "PEDIDOS.PESQUISA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3B48C7326F379034A66A166F1EEA881D/token/2F52D4F1825B0781CD772716/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"phone\":\"55{{$node[\"XML2\"].json[\"retorno\"][\"pedido\"][\"cliente\"][\"fone\"].replace(/\\D/g,'')}}\",\n\"message\":\"Que legal {{$node[\"XML2\"].json[\"retorno\"][\"pedido\"][\"cliente\"][\"nome\"].split(\" \")[0]}}, seu Rosa já está indo até você! Estamos com seu pedido em processamento e aqui está seu código de rastreio: *{{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}*. É só acessar esse link e acompanhar tudo!\\nMas atenção, o período para o pacote aparecer no sistema é de até 48h, tá?!\\n\\nAté lá, você pode olhar esse vídeo explicando como rastrear sua encomenda. \\nQualquer dúvida, fala com a gente! 🥰\\n\\n\\nhttps://www.flashcourier.com.br/rastreio/{{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}\"\n}",
        "options": {}
      },
      "id": "11aa1b00-78ea-4ecd-b0c0-ddec241473b0",
      "name": "ENVIA WPP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2200,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webservice.flashpegasus.com.br/FlashPegasus/rest/padrao/importacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n\"cliente_id\":7123,\n\"ctt_id\":9160,\n\"dna_hawb\":7,\n\"ccusto_id\":37138,\n\"tipo_enc_id\":21066,\n\"prod_flash_id\":157,\n\"frq_rec_id\":\"DSP\",\n\"ctt_ter_id\":null,\n\"tipo_merc_id\":null,\n\"num_enc_cli\":\"{{$json[\"retorno\"][\"pedido\"][\"numero\"]}}\",\n\"num_enc_ter\":\"\",\n\"num_cliente\":\"{{$json[\"retorno\"][\"pedido\"][\"numero\"]}}\",\n\"nome_rem\":\"LUCAS COMESTICOS LTDA\",\n\"endHawbs\":{\n\"nome_des\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"nome\"]}}\",\n\"logr_dest\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"endereco\"]}}\",\n\"bairro_des\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"bairro\"]}}\",\n\"num_des\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"numero\"]}}\",\n\"compl_end_dest\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"complemento\"]}}\",\n\"cid_dest\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"cidade\"]}}\",\n\"uf_dest\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"uf\"]}}\",\n\"cep_dest\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"cep\"].replace(/\\D/g,'')}}\",\n\"fone1_des\":\"{{$json[\"retorno\"][\"pedido\"][\"cliente\"][\"fone\"].replace(/\\D/g,'')}}\",\n\"fone2_des\":\"\",\n\"fone3_des\":\"\"\n},\n\"depto_des\":\"\",\n\"cod_lote\":\"11112022\",\n\"peso_aferido\":null,\n\"peso_declarado\":0.03,\n\"qtde_itens\":\"1.0\",\n\"valor\": {{$json[\"retorno\"][\"pedido\"][\"total_pedido\"]}},\n\"endHawbs2\":{\n\"nome_des\":\"\",\n\"logr_dest\":\"\",\n\"bairro_des\":\"\",\n\"num_des\":\"\",\n\"compl_end_dest\":\"\",\n\"cid_dest\":\"\",\n\"uf_dest\":\"\",\n\"cep_dest\":null,\n\"fone1_des\":\"\",\n\"fone2_des\":\"\",\n\"fone3_des\":\"\"\n},\n\"depto_des_2\":\"\",\n\"id_local_rem\":39962,\n\"cpf_des\":\"82339822025\",\n\"cnpj_des\":\"\",\n\"ie_des\":\"\",\n\"email_des\":\"email@teste.com\",\n\"obs1\": \"\",\n\"obs2\": \"\",\n\"obs3\": \"\",\n\"obs4\": \"\",\n\"ge1\":\"\",\n\"ge2\":\"\",\n\"ge3\":\"\",\n\"ge4\":\"\",\n\"chave_nf\":\"31211018981084000157550010000001781748827596\"\n}]",
        "options": {}
      },
      "id": "72b66d4f-4069-4819-86c7-b8ff5a7518da",
      "name": "ENVIA FLASH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1980,
        880
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "3",
          "name": "Unnamed credential"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api.facilitamovel.com.br/api/simpleSend.ft",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "rosaselvagem"
            },
            {
              "name": "password",
              "value": "$sTwsu^9DyObI!jd4zgEWGy"
            },
            {
              "name": "destinatario",
              "value": "={{$node[\"XML2\"].json[\"retorno\"][\"pedido\"][\"cliente\"][\"fone\"].replace(/\\D/g,'')}}"
            },
            {
              "name": "msg",
              "value": "=Seu pedido esta a caminho da transportadora. Rastreie pelo link abaixo\nhttps://www.flashcourier.com.br/rastreio/{{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f43a2f7f-a1cc-4af0-a5f8-8c194f3a0e09",
      "name": "FACILITA - 5seg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2440,
        880
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AreRIPCmiDxSZBF02GvqRIt_Hn8yyW0dn8_D554HsMg",
          "mode": "list",
          "cachedResultName": "novos flash",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AreRIPCmiDxSZBF02GvqRIt_Hn8yyW0dn8_D554HsMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1032730729,
          "mode": "list",
          "cachedResultName": "ENVIADOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AreRIPCmiDxSZBF02GvqRIt_Hn8yyW0dn8_D554HsMg/edit#gid=1032730729"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "PEDIDO TINY",
              "fieldValue": "={{ $node[\"XML2\"].json[\"retorno\"][\"pedido\"][\"numero\"] }}"
            },
            {
              "fieldId": "TXT FLASH",
              "fieldValue": "={{ $node[\"ENVIA FLASH\"].json[\"arquivo\"] }}"
            },
            {
              "fieldId": "NOME",
              "fieldValue": "={{ $node[\"XML2\"].json[\"retorno\"][\"pedido\"][\"cliente\"][\"nome\"] }}"
            },
            {
              "fieldId": "DATA DO ENVIO",
              "fieldValue": "={{$node[\"CAPTURA HORA\"].json[\"date\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c486de6-7ddf-463e-a1e1-a21b67427eeb",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3260,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{new Date()}}",
        "dataPropertyName": "date",
        "custom": true,
        "toFormat": "DD/MM/YYYY HH:MM:SS",
        "options": {
          "fromTimezone": "UTC",
          "toTimezone": "America/Recife"
        }
      },
      "id": "06ba377e-f15c-41c9-8cb6-77b35309311c",
      "name": "CAPTURA HORA",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        3000,
        880
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.dooki.com.br/v2/rosaselvagem/orders/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"dados\"][\"idPedidoEcommerce\"] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "track_code",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}"
            },
            {
              "name": "track_url",
              "value": "=https://www.flashcourier.com.br/rastreio/{{$node[\"Webhook\"].json[\"body\"][\"dados\"][\"numero\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Token",
              "value": "db7a834843aefc263fc37e429e2075a2ecc081a9"
            },
            {
              "name": "User-Secret-Key",
              "value": "sk_85xpIquUrIky4xXTm1KdRFT5PovlNat9b4F73"
            }
          ]
        },
        "options": {}
      },
      "id": "5d72c4cc-56ab-4a1b-9357-4cbc9c9acd66",
      "name": "ATUALIZA RASTREIO NA YAMPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2720,
        880
      ]
    },
    {
      "parameters": {},
      "id": "0c795603-e70d-47e5-8f3b-d26fb08631d4",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "2350d04a-7c72-4cfb-965e-b70a9c6652b2",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        1140
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-21T02:00:55.000Z",
  "versionId": "4aae739e-8732-450c-a81a-47227327e524"
}